
{% load static %}

<h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline-info">
                <div class="card-header">
                    <h4 class="m-b-0 text-white">Add Car to Garage</h4>
                </div>
                <div class="card-body">
                    <form action="#">
                        <div class="form-body">
                            <h3 class="card-title">Car Info</h3>
                            <hr>
                            <div class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group" data-children-count="1">
                                        <label class="control-label">Number Plate </label>
                                        <input type="text" id="numberPlate" class="form-control" placeholder="Rego Number">
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group has-danger" data-children-count="1">
                                        <label class="control-label">VIN</label>
                                        <input type="text" id="vinNumber" class="form-control form-control-danger" >
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group has-danger" data-children-count="1">
                                        <label class="control-label">Make</label>
                                        <input type="text" id="make" class="form-control form-control-danger" placeholder="Ford, Nissanm etc">
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group has-danger" data-children-count="1">
                                        <label class="control-label">Model</label>
                                        <input type="text" id="model" class="form-control form-control-danger" placeholder="Focus, X-Trail, etc">
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group has-danger" data-children-count="1">
                                        <label class="control-label">Series</label>
                                        <input type="text" id="series" class="form-control form-control-danger" placeholder="RS, LUX, etc">
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group has-danger" data-children-count="1">
                                        <label class="control-label">Build Date</label>
                                        <input type="date" id="buildDate" class="form-control form-control-danger" >
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group has-danger" data-children-count="1">
                                        <label class="control-label">Fuel</label>
                                        <select class="form-control custom-select">
                                            <option value=""></option>
                                            <option value="Petrol">Petrol</option>
                                            <option value="Diesel">Diesel</option>
                                        </select>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group has-danger" data-children-count="1">
                                        <label class="control-label">Engine</label>
                                        <input type="text" id="engine" class="form-control form-control-danger" >
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group has-danger" data-children-count="1">
                                        <label class="control-label">Transmission</label>
                                        <select class="form-control custom-select">
                                        <option value=""></option>
                                        <option value="Auto">Auto</option>
                                        <option value="Manual">Manual</option>
                                        </select>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group has-danger" data-children-count="1">
                                        <label class="control-label">Colour</label>
                                        <input type="text" id="colour" class="form-control form-control-danger" >
                                </div>
                                <!--/span-->
                                
                                
                            </div>
                            
                            <!--/row-->
                            
                            <hr>
                            <h3 class="box-title m-t-40">Purchase Info</h3>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="form-group" data-children-count="1">
                                        <label>Bought Price</label>
                                        <input id="boughtPrice" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="form-group" data-children-count="1">
                                        <label>Sold Price</label>
                                        <input id="soldPrice" type="text" class="form-control" >
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="form-group" data-children-count="1">
                                        <label>Bought From</label>
                                        <input id="boughtFrom" type="text" class="form-control" >
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="form-group" data-children-count="1">
                                        <label>Sold Through</label>
                                        <input id="soldThrough" type="text" class="form-control" >
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="form-group" data-children-count="1">
                                        <label>Bought Date</label>
                                        <input id="boughtDate" type="date" class="form-control" >
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="form-group" data-children-count="1">
                                        <label>Sold Date</label>
                                        <input id="soldDate" type="date" class="form-control" >
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="form-group" data-children-count="1">
                                        <label>Book Price</label>
                                        <input id="bookPrice" type="text" class="form-control" >
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="form-group" data-children-count="1">
                                        <label>Trade Price</label>
                                        <input id="tradePrice" type="text" class="form-control" >
                                </div>
                            </div>

                           
                                <!--/span-->
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                            <button type="button" class="btn btn-inverse">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</h1>